<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sakib635.arcadecarrace">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArcadeCarRace">
        <activity android:name=".gamePlay"
            android:label="Game Rules"
            android:parentActivityName=".StartAction">

        </activity>
        <activity android:name=".StartAction"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".developers"
            android:label="Developers"
            android:screenOrientation="portrait"
            android:parentActivityName=".StartAction" />
        <activity
            android:name=".Result_Page"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainActivity"
            android:parentActivityName=".StartAction"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>